/* MEDIA QUERY */

@media (min-width: 2560px) {

    /* HOME */
    .navbar-collapse {
        margin-left: 445px;
    }

    #notebook {
        bottom: 144px;
    }

    /* HOW IT WORKS */
    #moon-1 {
        top: 385px;
        left: 380px;
    }

    #moon-2 {
        bottom: 160px;
        right: 370px;
    }

    /* HOW IT'LL BE */
    #hib-cp {
        left: 560px;
    }

    #hib-cn {
        right: 560px;
    }

    /* DELIVER */
    #delivery-time {
        padding: 6% 35% 8%;
    }

    #clock1 {
        top: 65px;
        left: 840px;
        width: 4.7%;
    }

    #clock2 {
        top: 270px;
        right: 760px;
        width: 5.4%;
    }

    /* ABOUT-US */
    #about-us-container {
        background-image: url(../assets/aboutUs/aboutUsBackground.png);
        background-size: cover;
        padding: 5% 34%;
    }

    /* FEEDBACK */
    #feedback-img {
        width: 32% !important;
    }
}

@media (max-width: 1768px) {

    /* HOME */
    .home-container {
        padding: 9% 3% 1%;
    }

    #notebook {
        bottom: 147px;
        right: 90px;
    }

    /* HOW IT WORKS */
    #moon-1 {
        left: 50px;
    }

    #moon-2 {
        right: 40px;
    }

    /* HOW IT'LL BE */
    #carrousel-video {
        width: 65%;
    }

    #hib-cp {
        left: 5%;
    }

    #hib-cn {
        right: 5%;
    }

    #hib-ci {
        bottom: 10%;
    }

    #clock1 {
        left: 340px;
    }

    #clock2 {
        right: 275px;
    }

    /* budget */
    .darkPurple-card-bg {
        width: 45%;
    }

    /* DELIVER */
    #delivery-time {
        padding: 6% 28% 8%;
    }

    #clock1 {
        left: 460px;
    }

    #clock2 {
        top: 258px;
        right: 415px;
    }

    /* ABOUT-US */
    #about-us-container {
        padding: 5% 27%;
    }

    #about-us-p {
        font-size: 1.65rem;
    }

    /* feddback */
    #feedback-img {
        width: 35% !important;
    }
}

@media (max-width: 1680px) {

    /* HOME */
    #nav-img {
        width: 75px;
        margin: 0 15px 0 55px;
    }

    .navbar-collapse {
        margin-left: 0;
    }

    .home-container {
        padding: 9% 4% 1%;
    }

    #notebook {
        bottom: 145px;
        right: 73px;
    }

    /* HOW IT WORKS */
    #moon-1 {
        left: 35px;
        top: 290px;
    }

    #moon-2 {
        right: 25px;
    }

    /* PLANS */
    .plans-bg {
        width: 70%;
    }

    /* HOW IT'LL BE  */
    #hib-ci {
        bottom: 10%px;
    }

    /* DELIVER */
    #clock1 {
        left: 450px;
    }

    #clock2 {
        top: 260px;
        right: 400px;
    }
}

@media (max-width:1600px) {
    #nav-img {
        width: 75px;
        margin: 0 0px 0 45px;
    }

    .home-container {
        padding: 9% 5% 1%;
    }

    #notebook {
        bottom: 147px;
        right: 57px;
    }

    /* HOW IT WORKS */
    #moon-1 {
        left: 20px;
        top: 270px;
    }

    #moon-2 {
        right: 10px;
        bottom: 100px;
    }

    .purple-card-background {
        padding: 6% 7%;
    }

    /* PLANS */
    /* DELIVER  */
    #delivery-time {
        padding: 6% 26% 8%;
    }

    #clock1 {
        left: 405px;
    }

    #clock2 {
        top: 255px;
        right: 340px;
    }

    /* ABOUT-US */
    #about-us-container {
        padding: 5% 21%;
    }

    /* feedback */
    #feedback-img {
        width: 33% !important;
    }
}

@media (max-width: 1440px) {

    /* HOME */
    #nav-img {
        width: 60px;
        margin-left: 20px;
    }

    .navbar-collapse {
        margin-left: 0px;
    }

    .home-container {
        padding: 10% 6% 1%;
    }

    #notebook {
        bottom: 143px;
    }

    /* HOW IT WORKS */

    .purple-card-background {
        width: 420px;
    }

    #moon-1 {
        top: 255px;
        left: 10px;
        width: 6%;
    }

    #moon-2 {
        bottom: 100px;
        right: 10px;
        width: 7%;
    }

    /* HOW IT'LL BE */

    #hib-cp {
        left: 7%;
    }

    #hib-cn {
        right: 7%;
    }

    /* PLANS */
    .col-xl-4 {
        padding: 0;
    }

    .plans-bg {
        width: 85%;
        height: 85%;
        margin-left: 0;
    }

    /* DELIVER */
    #delivery-time {
        padding: 6% 23% 8%;
    }

    #clock1 {
        left: 335px;
        top: 30px;
        width: 6.5%;
    }

    #clock2 {
        top: 245px;
        right: 265px;
        width: 7.5%;
    }
}

@media (max-width: 1399px) {
    #home-div1-p-1, #home-div1-p-2 {
        font-size: 1.9rem;
        line-height: 2.35rem;
    }

    #home-h2 {
        font-size: 3.15rem;
        margin-bottom: -5px;
    }

    #home-h3 {
        font-size: 2.45rem;
    }

    #notebook {
        width: 150%;
        ;
    }

    /* HOW IT WORKS */
    .purple-card-background {
        width: 95%;
    }

    /* DELIVER */
    #clock1 {
        left: 310px;
    }

    #clock2 {
        right: 240px;
    }
}

@media (max-width: 1366px) {

    /* HOME */
    #nav-img {
        width: 45px;
        margin-left: 30px;
    }

    .container-fluid.mt-3 {
        margin-top: 0 !important;
    }

    .nav-item {
        margin: 0 62px;
        font-size: 1rem;
    }

    .home-container {
        padding: 11% 3% 2%;
    }

    #home-div1-p-1, #home-div1-p-2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    #home-h2 {
        font-size: 3.3rem;
        margin-bottom: 0;
    }

    #notebook {
        width: 520px;
    }

    /* HOW IT WORKS */
    .purple-card-background {
        width: 97%;
        padding: 4% 7%;
    }

    #moon-1 {
        left: 0;
    }

    #moon-2 {
        right: 0;
    }

    /* HOW IT'LL BE */
    #hib-h2 {
        font-size: 2.5rem;
        font-weight: 600 !important;
    }

    #carrousel-video {
        width: 55%;
    }

    /* PLANS */
    .col-lg-4 li {
        font-size: 1.05rem;
    }

    .plans-h4-size {
        font-size: 2rem;
    }

    .plans-advanced {
        font-size: 2.4rem;
    }

    #plans-h5 {
        font-size: 1.2rem;
    }

    #plans-new-price {
        font-size: 2.4rem;
    }

    h3#plans-new-price.pink-space {
        font-size: 2.6rem;
    }

    /* DELIVER */
    #delivery-time {
        padding: 6% 21% 8%;
    }

    #clock1 {
        left: 260px;
    }

    #clock2 {
        right: 235px;
    }

    /* budget */
    #budget {
        padding: 0 12% 3%;
    }

    #about-us-container {
        padding: 5% 27%;
    }

    #about-us-p {
        font-size: 1.35rem;
    }
}


@media (max-width: 1280px) {
    P {
        font-size: 1.1rem;
    }

    /* HOME */
    .home-container {
        padding: 9% 3% 0%;
    }

    /* HOW IT WORKS */
    #HIW-p-subtitle {
        font-size: 1.5rem;
    }

    #moon-1 {
        top: 230px;
    }

    #moon-2 {
        bottom: 80px;
    }

    .purple-card-background {
        width: 87%;
    }

    #notebook {
        width: 115%;
        bottom: 146px;
        right: 2px;
    }

    /* HOW IT WORKS */
    #HIW-h4 {
        font-size: 1.89rem;
    }

    #moon-1 {
        left: 15px;
    }

    #moon-2 {
        right: 15px;
    }

    /* HOW IT'LL BE */
    #carrousel-video {
        width: 65%;
    }

    /* PLANS */
    .plans-bg {
        width: 90%;
    }

    /* budget */
    #budget {
        padding: 0 11% 3%;
    }

    #budget-p {
        font-size: 1.3rem;
    }

    /* ABOUT-US */
    #about-us-p {
        font-size: 1.25rem;
    }

    /* feedback */
    #feedback-img {
        width: 35% !important;
    }
}

@media (max-width: 1199.98px) {

    /* HOME */
    .nav-item {
        margin: 0 45px;
    }

    #home-div1-p-1, #home-div1-p-2 {
        font-size: 1.7rem;
    }

    #home-h2 {
        font-size: 2.85rem;
    }

    #home-h3 {
        font-size: 2.25rem;
    }

    #home-div2-p {
        font-size: 1.4rem;
    }

    #notebook {
        width: 500px;
    }

    /* HOW IT WORKS */
    #pcb-2 {
        position: static;
        margin: 40px 0;
    }

    #moon-1 {
        left: 65px;
    }

    #moon-2 {
        bottom: 40px;
        right: 55px;
    }

    /* HOW IT'LL BE */
    #carrousel-video {
        width: 65%;
    }

    /* PLANS */
    .col-xl-4 li {
        font-size: 1.1rem;
    }

    .split-content {
        margin: 80px 0;
        display: block;
    }

    .plans-bg {
        height: 80%;
    }

    /* budget */
    #budget {
        padding: 0 4% 3%;
    }

    .h-100 {
        height: 80px !important;
    }
}

@media (max-width: 1024px) {

    /* HOME */
    #nav-img {
        margin-left: 25px;
    }

    .nav-item {
        margin: 0 30px;
        font-size: 1rem;
    }

    .home-container {
        padding: 9% 8% 0%;
    }

    #home-div1-p-1, #home-div1-p-2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #home-h2 {
        font-size: 2.525rem;
        margin-bottom: 0;
    }

    #home-h3 {
        font-size: 2rem;
    }

    #home-div2-p {
        font-size: 1.25rem;
    }

    #notebook {
        width: 400px;
        bottom: 50px;
    }

    /* HOW IT WORKS */
    .purple-card-background {
        width: 62%;
        margin: 20px 0;
    }

    #HIW-h4 {
        font-size: 1.9rem;
    }

    #moon-1 {
        top: 220px;
        left: 160px;
        width: 9%;
    }

    #moon-2 {
        bottom: 40px;
        right: 160px;
        width: 11%;
    }

    #pcb-2 {
        position: static;
    }

    /* HOW IT'LL BE */
    #hib-cp-icon, #hib-cn-icon {
        display: none;
    }

    #hib-ci {
        bottom: 45px;
    }

    /* PLANS */
    #plans-h3 {
        font-size: 2.45rem;
        line-height: 0.8;
    }

    .purple-space span#dropshipping {
        font-size: 2rem;
    }

    .plans-bg {
        width: 85%;
        height: 70%;
        margin-left: 0px;
        padding: 3% 2%;
    }

    .col-xl-4 li {
        text-align: left;
        margin: 0rem 1rem;
        font-size: 1rem;
    }

    .split-content {
        display: block;
    }

    /* DELIVER */
    #delivery-time {
        padding: 6% 20% 8%;
    }

    #delivery-time-h2 {
        display: inline-block;
        inline-size: 380px;
        font-size: 2.5rem;
    }

    #clock1 {
        left: 180px;
    }

    #clock2 {
        right: 165px;
        top: 210px;
    }

    /* budget */
    .darkPurple-card-bg {
        background-color: #271229;
        display: inline-block;
        width: 90%;
        margin: 25px 0px;
        border-radius: 20px;
    }

    .budget-text-container {
        padding: 0;
        line-height: 1;
    }

    /* ABOUT-US */
    #about-us-container {
        padding: 5% 20%;
    }

    /* feedback */
    #feedback-img {
        width: 60% !important;
    }

    /* FAQ */
    #FAQ {
        padding: 0% 10% 7%;
    }
}

@media (max-width: 991.98px) {

    /* HOME */
    #nav-img {
        width: 50px;
        margin-left: 25px;
    }

    .navbar-brand {
        padding-bottom: 0;
    }

    .home-container {
        padding: 12% 3% 0%;
    }

    #home-div1-p-1, #home-div1-p-2 {
        font-size: 1.3rem;
    }

    #line {
        font-size: 1.25rem;
    }

    #home-h2 {
        font-size: 2.2rem;
    }

    #home-h3 {
        font-size: 1.9rem;
    }

    #home-div2-p {
        padding-right: 36%;
        font-size: 1.2rem;
    }

    #notebook {
        width: 400px;
        bottom: 305px;
        left: 300px;
    }

    /* HOW IT WORKS */
    .purple-card-background {
        width: 65%;
    }

    #moon-1 {
        top: 200px;
        left: 110px;
    }

    #moon-2 {
        bottom: 30px;
        right: 100px;
    }

    /* PLANS */
    .plans-bg {
        width: 95%;
        height: 70%;
    }

    /* DELIVER */
    #delivery-time {
        padding-left: 10%;
        padding-right: 10%;
    }

    #delivery-time-h2 {
        font-size: 2.3rem;
    }

    #clock1 {
        left: 85px;
        width: 8%;
    }

    #clock2 {
        right: 50px;
        top: 190px;
        width: 9%;
    }

    #plans {
        background: url(../assets/plans/plansBackground1.png) bottom center no-repeat fixed;
        background-size: cover;
    }

    @supports (-webkit-touch-callout: none) {
        #plans {
            background: url(../assets/plans/plansBackground1.png) center top no-repeat scroll;
            background-size: auto 100vh;
        }
    }

    /* budget */
    #budget {
        padding-right: 8%;
        padding-left: 8%;
    }

    #budget-p {
        font-size: 1.2rem;
    }

    .budget-text-container {
        padding: 0 8%;
        line-height: 1;
    }

    .darkPurple-card-bg {
        width: 80%;
    }

    #budget-card-p {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .h-100 {
        height: 70px !important;
    }

    #shopping-bag {
        height: 80px;
    }

    .btn {
        padding: 10px 130px;
    }

    /* ABOUT-US */
    #about-us-h2 {
        font-size: 3rem;
    }

    #about-us-p {
        font-size: 1.25rem;
    }

    /* feedback */
    #h3-feedback {
        font-size: 2.8rem;
    }

    /* FAQ */
    #FAQ {
        padding-left: 7%;
        padding-right: 7%;
    }

    .accordion-button {
        font-size: 1rem;
    }

    .accordion-body {
        font-size: 0.9rem;
    }

    /* Footer */
    #p-footer {
        font-size: 0.9rem;
    }

    .signature {
        font-size: 0.7rem;
    }
}

@media (max-width: 767.98px) {

    /* HOME */
    #line {
        font-size: 3.8rem;
    }

    #notebook {
        width: 272px;
        bottom: 332px;
        left: 229px;
    }

    /* HOW IT WORKS */
    .purple-card-background {
        width: 85%;
    }

    #moon-1 {
        top: 190px;
        left: 25px;
        width: 10%;
    }

    #moon-2 {
        bottom: 30px;
        right: 20px;
        width: 13%;
    }

    /* HOW IT'LL BE */
    #hib-h2 {
        font-size: 2.2rem;
    }

    #carrousel-video {
        width: 90%;
    }

    /* DELIVER */
    #clock1 {
        left: 20px;
        width: 10%;
    }

    #clock2 {
        right: 25px;
        top: 175px;
        width: 11%;
    }

    /* PLANS */
    .plans-bg {
        height: 75%;
    }

    /* budget */
    .btn {
        padding: 10px 80px;
    }

    .btn-2 {
        padding: 11px 110px;
    }

    .btn-2a {
        padding: 11px 114px;
    }

    /* ABOUT-US */
    #about-us-container {
        padding: 8% 10%;
    }
}

@media (max-width: 575.98px) {

    /* HOME */
    .home-container {
        padding-left: 7%;
        padding-right: 7%;
    }

    #notebook {
        width: 280px;
    }

    #slide {
        width: 10%;
    }

    .col-lg-12 {
        margin: 60px 0;
    }

    /* feedback */
    #feedback-img {
        width: 80% !important;
    }

    #feedback-ci {
        top: 103%;
    }

    #feedback-cp {
        left: -4%;
    }

    #feedback-cn {
        left: 90%;
    }
}

@media (max-width: 425px) {

    /* HOME */
    .navbar-brand {
        padding-bottom: 0.3125rem;
    }

    .navbar-brand {
        height: 45px;
    }

    #nav-img {
        width: 40px;
        margin-left: 5px;
    }

    .home-container {
        padding: 20% 6% 0;
    }

    #home-h2 {
        font-size: 2rem;
        text-align: justify;
    }

    #home-div1-p-1, #home-div1-p-2 {
        font-size: 1.3rem;
        text-align: justify;
    }

    #line {
        font-size: 1.8rem;
    }

    #home-h3 {
        font-size: 1.6rem;
        margin-top: 100px;
    }

    #home-div2-p {
        padding-right: 0;
        font-size: 1.2rem;
    }

    .col-lg-12 {
        text-align: center;
        margin: 50px 0;
    }

    #notebook {
        width: 290px;
        position: relative;
        bottom: 579px;
        left: 10px;
    }

    #slide {
        width: 15%;
    }

    /* HOW IT WORKS */
    #HIW-h3 {
        font-size: 2.2rem;
    }

    #HIW-p-subtitle {
        font-size: 1.4rem;
    }

    .purple-card-background {
        width: 89%;
    }

    #HIW-h4 {
        font-size: 1.7rem;
    }

    #moon-1 {
        top: 160px;
        left: 5px;
        width: 14%;
    }

    #moon-2 {
        bottom: 15px;
        right: 5px;
        width: 16%;
    }

    /* HOW IT'LL BE */
    #hib-h2 {
        font-size: 2rem;
    }

    #carrousel-video {
        width: 90%;
    }

    /* PLANS */
    #plans-h3 {
        inline-size: 338px
    }

    #plans-h3 {
        font-size: 2rem;
    }

    .purple-space span#dropshipping {
        font-size: 1.8rem;
    }

    .plans-bg {
        width: 80%;
        height: 80%;
        margin-left: 0px;
        margin-right: 5px;
    }

    /* DELIVER */
    #delivery-time {
        position: relative;
        z-index: 1;
    }

    #delivery-time-h2 {
        font-size: 2rem;
        inline-size: 330px;
    }

    #delivery-time-p {
        font-size: 1rem;
    }

    #clock1, #clock2 {
        z-index: -1;
    }

    #clock1 {
        left: 10px;
        width: 12%;
    }

    #clock2 {
        right: 10px;
        top: 190px;
        width: 15%;
    }

    /* budget */
    .darkPurple-card-bg {
        width: 100%;
    }

    .btn {
        padding: 10px 50px;
        font-size: 0.9rem;
    }

    .btn-2 {
        padding: 11px 100px;
    }

    .btn-2a {
        padding: 11px 104px;
    }

    .budget-text-container {
        line-height: 1.3;
    }

    /* ABOUT-US */
    #about-us-container {
        padding: 15% 7%;
    }

    #about-us-h2 {
        font-size: 2.5rem;
    }

    #about-us-p {
        font-size: 1.2rem;
    }

    /* feedback */
    #feedback {
        padding-left: 5%;
        padding-right: 5%;
    }

    #h3-feedback {
        font-size: 2.2rem;
    }

    #feedback-img {
        width: 80% !important;
    }

    #feedback-ci {
        display: none;
    }

    #feedback-cp {
        left: -10px;
    }

    #feedback-cn {
        right: -10px;
    }
}

@media (max-width: 414px) {

    /* HOME */
    #home-h3 {
        font-size: 1.55rem;
        margin-top: 130px;
    }

    #line {
        font-size: 1.7rem;
    }

    #notebook {
        bottom: 637px;
    }

    /* budget */
    #budget {
        padding-right: 4%;
        padding-left: 4%;
    }
}

@media (max-width: 375px) {
    ol, ul {
        padding-left: 1.5rem;
    }

    div#budget br {
        display: none;
    }

    /* HOME */
    button.navbar-toggler {
        width: 50px;
        height: 40px;
    }

    span.navbar-toggler-icon {
        width: 20px
    }

    .home-container {
        padding: 20% 4% 0;
    }

    #home-div1-p-1, #home-div1-p-2 {
        font-size: 1.4rem;
    }

    #line {
        font-size: 2.29rem;
    }

    #home-h2 {
        font-size: 2rem;
    }

    #home-h3 {
        font-size: 1.7rem;
    }

    #notebook {
        width: 100%;
        position: relative;
        bottom: 690px;
        left: 0px;
    }

    #home-div2-p {
        text-align: justify;
    }

    .col-lg-12 {
        margin: 30px 0;
    }

    /* HOW IT WORKS */
    #HIW-h3 {
        font-size: 2rem;
    }

    #HIW-p-subtitle {
        font-size: 1.2rem;
        inline-size: 250px;
    }

    .purple-card-background {
        width: 95%;
    }

    #pcb-2 {
        margin: 20px 0;
    }

    #moon-1 {
        top: 145px;
        left: 0px;
        width: 15%;
    }

    #moon-2 {
        bottom: 15px;
        right: 5px;
        width: 18%;
    }

    /* PLANS */
    #plans-h3 {
        inline-size: 250px;
    }

    #delivery-time-h2 {
        inline-size: 220px;
    }

    .purple-space span#dropshipping {
        font-size: 1.8rem;
    }

    .plans-h4-size {
        font-size: 1.6rem;
    }

    .plans-advanced {
        font-size: 1.8rem;
    }

    .plans-bg {
        width: 90%;
        height: 85%;
        padding: 10% 0%;
        margin-left: 0%;
    }

    #plans-h5 {
        font-size: 1.1rem;
    }

    #plans-new-price {
        font-size: 2rem;
    }

    h3#plans-new-price.pink-space {
        font-size: 2.3rem;
    }

    /* budget */
    .btn-2 {
        padding: 11px 61px;
    }

    .btn-2a {
        padding: 11px 65px;
    }

    /* DELIVER */
    #delivery-time-h2 {
        font-size: 1.9rem;
        inline-size: 225px;
    }

    #clock1 {
        top: 45px;
    }

    #clock2 {
        right: 15px;
        top: 245px;
    }

    /* ABOUT-US */
    #about-us-container {
        padding: 15% 5%;
    }

    #about-us-h2 {
        font-size: 2.4rem;
    }

    #about-us-p {
        font-size: 1.15rem;
        line-height: 1.2;
    }
}

@media (max-width: 320px) {

    /* HOME */
    #home-div1-p-1, #home-div1-p-2 {
        font-size: 1.4rem;
    }

    #line {
        font-size: 2.25rem;
    }

    #home-h2 {
        font-size: 1.55rem;
    }


    /* HOW IT WORKS */
    #HIW-h3 {
        font-size: 2rem;
    }

    #HIW-p-subtitle {
        font-size: 1.2rem;
        inline-size: 233px;
    }

    #HIW-h4 {
        font-size: 1.5rem;
    }

    .purple-card-background {
        width: 97%;
    }

    #moon-1 {
        top: 140px;
        left: 1px;
    }

    /* HOW IT'LL BE */
    #hib-h2 {
        font-size: 2rem;
    }

    /* PLANS */
    #plans {
        padding-bottom: 45%;
    }

    #plans-h3 {
        font-size: 1.8rem;
        inline-size: 300px;
    }

    .purple-space span#dropshipping {
        font-size: 1.5rem;
    }

    .plans-bg {
        width: 95%;
        margin: 4px;
    }

    /* DELIVER */
    #delivery-time {
        padding-left: 5%;
        padding-right: 5%;
    }

    #delivery-time-h2 {
        inline-size: 215px;
    }

    #clock2 {
        right: 10px;
        top: 240px;
        width: 15%;
    }

    /* budget */
    .btn {
        padding: 10px 30px;
    }

    .btn-2 {
        padding: 11px 60px;
    }

    .btn-2a {
        padding: 11px 65px;
    }

    /* ABOUT-US */
    #about-us-h2 {
        font-size: 2.3rem;
    }

    #about-us-p {
        text-align: justify;
    }

    /* feedback */
    #h3-feedback {
        font-size: 2rem;
    }
}
